body {
    width: 1200px;
    margin: 1em auto;
    color: #555;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
}
h1 {
    color: darkslategray;
    font-size: 1.5em;
}
.label-wrapper {
    display: block;
    margin: 1em auto;
}
#size {
    width: 50px;
    text-align: right;
}
.grid-wrapper {
    display: grid;
    grid-template-columns: 5fr max-content 1fr 7fr;
    grid-gap: 0.5em 0.5em;
    margin: 1em auto;
}
.grid-wrapper label[for] {
    text-align: right;
}
.span-4 {
    grid-column-end: span 4;
}
.slider-wrapper {
    text-align: left;
}
.grid-wrapper input[type="range"] {
    width: 200px;
    height: 1em;
    vertical-align: middle;
}
.grid-wrapper input[type="number"] {
    width: 56px;
    text-align: right;
}
#download {
    color: black;
    font-weight: bold;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
footer {
    margin-top: 2rem;
    font-size: 0.8rem;
    color: #555;
    opacity: 0.3;
    transition: all 0.2s ease-in-out;
}
footer:hover {
    opacity: 1;
}
footer a {
    color: black;
}
#colors label {
    display: inline-block;
    text-transform: capitalize;
}
form.drop-over {
    background: #aaa;
}
